<div class="eqLogic eqLogic-widget allowResize #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <center class="widget-name">
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="cmd infoRte pull-right cursor">
      <a target="_blank" href="https://particulier.edf.fr/fr/accueil/gestion-contrat/options/ejp.html" title="Plus d'info EDF"><i class='fas fa-info-circle' style="margin-top: 3px;"></i></a>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div class="cmds #isVerticalAlign#">
    <div style="display:#inEjpPeriod#">
      <center>
        <p><span>Aujourd'hui</span>
          <i class="fa fa-circle fa-lg" style="color : #colorEjpToday#"></i>
          <br/>
          <span>Demain</span>
          <i class="fa fa-circle fa-lg" style="color : #colorEjpTomorrow#"></i>
          <span style="font-size:12px"><br>De 7h à 1h le lendemain</span>
        </p>
        <span>Jours EJP restants :</span><br/>
        <i class="fa fa-circle fa-lg" style="color : #color-EJP#"></i>
        <span style="Cursor:default">#ejpRemainingDays# / 22</span>
      </center>
      <div style="border-bottom:2px solid #colorEjpToday#;margin-bottom:5px;margin-top:5px"></div>
      <div style="font-size:12px;margin-left:5px">
        #legendEjp#
      </div>
      <div style="font-size: 10px; font-style: italic; text-align:left;margin-left: 5px">
        #dataActuEjp#
      </div>
    </div>
    <div style="display:#outOfEjpPeriod#;background-color: #colorEjpToday#;color: white">
      <center>
        <span style="font-weight: 700;font-size: 18px">
      #datenow#<br/>
        </span>
        <span style="font-weight: 400;font-size: 14px">
          La période EJP est terminée.<br/>Rendez-vous le 31 octobre.
        </span>
      </center>
    </div>
	</div>
	<script>
    if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})})
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }
	</script>
  <style>
    div.eqLogic-widget.editingMode .cmd.infoRte {
      display: none;
    }
  </style>
</div>
