<div class="cmd cmd-widget #history#" data-type="info" data-subtype="binary" data-template="custom" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
  <div style="text-align: left;margin-left: 5px;margin-right: 5px">
    #dateD#
    <div id="highchartDataHourD#id#" style="width: 150px; height: 150px;margin-left: 5px;">
    </div>
  </div>
  <script>
    Highcharts.chart('highchartDataHourD#id#', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        width: 150, height: 150,
        spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: { text: null, },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: { point: { valueSuffix: '' } },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour', colorByPoint: false, size: '10%', data: [ #dataDayHC# ] },
        { name: 'Aprés-midi', colorByPoint: false, size: '100%', innerSize: '75%', data: [#dataHourHCpm#]},
        { name: 'Matin', colorByPoint: false, size: '75%', innerSize: '72%', data: [#dataHourHCam#]}
      ]
    });
	</script>
</div>
