<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div class="#isVerticalAlign#">
    <center>
      <!--
        <div>
        <i class="fa fa-circle fa-lg valueH0"></i>
        <span style="font-weight: bold">#datenow# &nbsp;
        </span>
      </div>
      -->
      <br>
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px;">
        <!-- 
        <i title = "#messageD0#" class="fa fa-circle fa-lg dayValueD0"></i>
        &nbsp; #date0#
        #dataHourD0#s
        -->
        #date0#
        <div id="highchartDataHourD0#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px;">
        <!-- <i title = "#messageD1#" class="fa fa-circle fa-lg dayValueD1"></i>
        &nbsp; #date1#
        #dataHourD1# -->
        #date1#
        <!--
        <span id="container" style="width: 150px; height: 150px;margin-left: 5px;">
        </span>
        -->
        <div id="highchartDataHourD1#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
      <div class="cmd cmd-widget" style="width: '500px'; text-align: left;margin-left: 5px;margin-right: 5px">
        <!-- 
        <i title = "#messageD2#" class="fa fa-circle fa-lg dayValueD2"></i>
        &nbsp; #date2#
        #dataHourD2#
        -->
        #date2#
        <div id="highchartDataHourD2#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px">
        <!-- 
        <i title = "#messageD3#" class="fa fa-circle fa-lg dayValueD3"></i>
        &nbsp; #date3#
        #dataHourD3#
        -->
        #date3#
        <div id="highchartDataHourD3#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
      <!--
      <br>
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px">
        #dataHours#
      </div>
        -->
    </center>
    <div style="font-size: 10px; font-style: italic; text-align:left">
      #dataActuEcowatt#
    </div>
	</div>
	<script>
		if("#valueH0#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .valueH0').css('color','#color1#');
		else if("#valueH0#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .valueH0').css('color','#color2#');
		else if("#valueH0#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .valueH0').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .valueH0').css('color','#color0#');

		if("#dayValueD0#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color1#');
		else if("#dayValueD0#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color2#');
		else if("#dayValueD0#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color0#');
    
		if("#dayValueD1#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color1#');
		else if("#dayValueD1#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color2#');
		else if("#dayValueD1#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color0#');

		if("#dayValueD2#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color1#');
		else if("#dayValueD2#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color2#');
		else if("#dayValueD2#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color0#');

		if("#dayValueD3#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color1#');
		else if("#dayValueD3#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color2#');
		else if("#dayValueD3#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color0#');

    if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})
      })
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }

    Highcharts.chart('highchartDataHourD0#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: null,
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay0HC# ]
        },
        { name: 'Aprés-midi',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour0HCpm# ]
        },
        { name: 'Matin',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour0HCam# ]
        }
      ]
    });

    Highcharts.chart('highchartDataHourD1#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: null,
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay1HC# ]
        },
        { name: 'Aprés-midi',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour1HCpm# ]
        },
        { name: 'Matin',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour1HCam# ]
        }
      ]
    });

    Highcharts.chart('highchartDataHourD2#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: null,
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay2HC# ]
        },
        { name: 'Aprés-midi',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour2HCpm# ]
        },
        { name: 'Matin',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour2HCam# ]
        }
      ]
    });

    Highcharts.chart('highchartDataHourD3#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: null,
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay3HC# ]
        },
        { name: 'Aprés-midi',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour3HCpm# ]
        },
        { name: 'Matin',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour3HCam# ]
        }
      ]
    });
	</script>
</div>
