<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div class="#isVerticalAlign#">
    <center>
      <!--         HEURE ACTUELLE Prochaine alerte -->
    <!--
      <div  style='background-image: url("plugins/rteEcowatt/core/template/images/courbe-signal-orange.png");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
    '>
      <div  style="background-color: #curAlertColor#">
      <div style="border-bottom:10px solid #curAlertColor#;margin-bottom:5px">
        -->
      <div>
          #valueNow# #datenow#<br>#nextAlert#
      </div>

        <!--           JOUR 0        -->
        <!-- Titre -->
      <div class="cmd cmd-widget" style="width:100%;text-align: left;margin-left: 5px;margin-right: 5px;margin-top:5px;margin-bottom:0px">
        <i title = "#messageD0#" class="fa fa-circle fa-lg dayValueD0"></i>
        #date0#
      </div>
      <!-- Camemberts
      -->
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px;margin-top:5px">
        <div id="highchartDataHourD0AM-#id#" style="width: 130px; height: 140px;margin-left: 5px;">
        </div>
      </div>
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px;">
        <br>
        <div id="highchartDataHourD0PM-#id#" style="width: 130px; height: 140px;margin-left: 5px;">
        </div>
      </div>
      <!-- Table html
      <div class="cmd cmd-widget" style="width: calc(100% - 10px) !important;text-align: left;margin-left: 5px;margin-right: 5px;">
        #dataHourD0#
      </div>
      -->
        <!-- Column
      <div class="cmd cmd-widget" style="width: 100%; text-align: left;margin-left: 5px;margin-right: 5px;">
        <div id="highchartColumnHourD#id#" style="width: 100%; height: 50px;margin-left: 5px;">
        </div>
      </div>
        -->
        <!-- Bar
      <div class="cmd cmd-widget" style="width: 100%; text-align: left;margin-left: 5px;margin-right: 5px;">
        <div id="highchartBarHourD#id#" style="width: 100%; height: 50px;margin-left: 5px;">
        </div>
      </div>
        -->

        <!--             JOUR 1        -->
        <!-- Titre -->
      <div class="cmd cmd-widget" style="width:100%;text-align: left;margin-left: 5px;margin-right: 5px;margin-top:5px;margin-bottom:0px">
        <i title = "#messageD1#" class="fa fa-circle fa-lg dayValueD1"></i> #date1#
      </div>
      <!-- Table html
      -->
      <div class="cmd cmd-widget" style="width: calc(100% - 10px) !important;text-align: left;margin-left: 5px;margin-right: 5px;margin-top:0px">
        #dataHourD1#
      </div>
      <!-- Donut
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px;">
        <div id="highchartDataHourD1-#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
      -->

        <!--             JOUR 2        -->
        <!-- Titre -->
      <div class="cmd cmd-widget" style="width:100%;text-align: left;margin-left: 5px;margin-right: 5px;margin-top:5px;margin-bottom:0px">
        <i title = "#messageD2#" class="fa fa-circle fa-lg dayValueD2"></i> #date2#
      </div>
        <!-- Table html
        -->
      <div class="cmd cmd-widget" style="width: calc(100% - 10px) !important; text-align: left;margin-left: 5px;margin-right: 5px;margin-top:0px">
        #dataHourD2#
      </div>
      <!-- Donut
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px">
        <div id="highchartDataHourD2-#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
        -->

        <!--             JOUR 3        -->
        <!-- Titre -->
      <div class="cmd cmd-widget" style="width:100%;text-align: left;margin-left: 5px;margin-right: 5px;margin-top:5px;margin-bottom:0px">
        <i title = "#messageD3#" class="fa fa-circle fa-lg dayValueD3"></i> #date3#
      </div>
        <!-- Table html
        -->
      <div class="cmd cmd-widget" style="width: calc(100% - 10px) !important;text-align: left;margin-left: 5px;margin-right: 5px;margin-top:0px">
        #dataHourD3#
      </div>
      <!-- Donut
      <div class="cmd cmd-widget" style="text-align: left;margin-left: 5px;margin-right: 5px">
        <div id="highchartDataHourD3#id#" style="width: 150px; height: 150px;margin-left: 5px;">
        </div>
      </div>
        -->

      <!--  Heure par heure à partir de l'heure actuelle
      <br>
      <div class="cmd cmd-widget" style="width: 100%; text-align: left;margin: 5px">
        Données par heure.
        #dataHoursJson#
      </div>
      -->
    </center>
    <div style="font-size: 10px; font-style: italic; text-align:left;margin-left: 5px">
      #dataActuEcowatt#
    </div>
	</div>
	<script>
		if("#dayValueD0#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color1#');
		else if("#dayValueD0#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color2#');
		else if("#dayValueD0#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('color','#color0#');
    
		if("#dayValueD1#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color1#');
		else if("#dayValueD1#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color2#');
		else if("#dayValueD1#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('color','#color0#');

		if("#dayValueD2#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color1#');
		else if("#dayValueD2#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color2#');
		else if("#dayValueD2#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD2').css('color','#color0#');

		if("#dayValueD3#" == "1") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color1#');
		else if("#dayValueD3#" == "2") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color2#');
		else if("#dayValueD3#" == "3") $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color3#');
		else $('.eqLogic[data-eqLogic_id=#id#] .dayValueD3').css('color','#color0#');

    if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})
      })
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }

    Highcharts.chart('highchartDataHourD0AM-#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 130, height: 130,
          spacingTop: -5, spacingLeft: 4, spacingRight: 4, spacingBottom: 4
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: 'Minuit - midi',
        margin: 0,
        style: { "color": "var(--txt-color)", "fontSize": "12px" },
        y: 16
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
          slicedOffset: 6, 
        }
      },
      series: [
        { name: '#date0dm#',
            colorByPoint: false,
            innerSize: '75%',
            data: [ #dataHour0HCpieAM# ]
        }
      ]
    });

    Highcharts.chart('highchartDataHourD0PM-#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 130, height: 130,
          spacingTop: -5, spacingLeft: 4, spacingRight: 4, spacingBottom: 4
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: 'Midi - minuit',
        margin: 0,
        style: { "color": "var(--txt-color)", "fontSize": "12px" },
        y: 16
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
          slicedOffset: 6, 
          // borderWidth: 1, borderColor: 'var(--bg-color)'
        }
      },
      series: [
        { name: '#date0dm#',
          colorByPoint: false,
          innerSize: '75%',
          data: [ #dataHour0HCpiePM# ]
        },
      ]
    });

/*
    Highcharts.chart('highchartDataHourD0-#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: '#date0#',
        margin: 0,
        style: { "color": "var(--txt-color)", "fontSize": "12px" },
        y: 22
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: { point: { valueSuffix: '' } },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
          // borderWidth: 1, borderColor: 'var(--bg-color)'
        }
      },
      series: [
        { name: '#date0dm#',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay0HC# ]
        },
        { name: 'Aprés-midi #date0dm#',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour0HCpiePM# ]
        },
        { name: 'Matin #date0dm#',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour0HCpieAM# ]
        }
      ]
    });
*/

    Highcharts.chart('highchartDataHourD1-#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: '#date1#',
        margin: 0,
        style: { "color": "var(--txt-color)", "fontSize": "12px" },
        y: 22
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: { point: { valueSuffix: '' } },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: '#date1dm#',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay1HC# ]
        },
        { name: 'Aprés-midi #date1dm#',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour1HCpiePM# ]
        },
        { name: 'Matin #date1dm#',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour1HCpieAM# ]
        }
      ]
    });

    Highcharts.chart('highchartDataHourD2-#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: {
        text: '#date2#',
        margin: 0,
        style: { "color": "var(--txt-color)", "fontSize": "12px" },
        y: 22
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour #date2dm#',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay2HC# ]
        },
        { name: 'Aprés-midi #date2dm#',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour2HCpiePM# ]
        },
        { name: 'Matin #date2dm#',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour2HCpieAM# ]
        }
      ]
    });



    Highcharts.chart('highchartDataHourD3#id#', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 150, height: 150,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: { text: '#date3#',
        margin: 0,
        style: { "color": "var(--txt-color)", "fontSize": "12px" },
        y: 22
      },
      tooltip: { pointFormat: '{series.name}' },
      accessibility: {
        point: { valueSuffix: '' }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: { enabled: false },
        }
      },
      series: [
        { name: 'Jour #date3dm#',
          colorByPoint: false,
          size: '10%',
          data: [ #dataDay3HC# ]
        },
        { name: 'Aprés-midi #date3dm#',
          colorByPoint: false,
          size: '100%',
          innerSize: '75%',
          data: [ #dataHour3HCpiePM# ]
        },
        { name: 'Matin #date3dm#',
            colorByPoint: false,
            size: '75%',
            innerSize: '72%',
            data: [ #dataHour3HCpieAM# ]
        }
      ]
    });

Highcharts.chart('highchartColumnHourD#id#', {
    chart: {
          width: 480, height: 45,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0,
        type: 'column'
    },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: { text: null, },
    xAxis: {
      lineColor: 'var(--bg-color)',
      categories: [
          '0h', '1h', '2h', '3h', '4h', '5h', '6h', '7h', '8h', '9h', '10', '11', '12h',
          '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h', '21h', '22h', '23h' ],
      labels: { y: 12, step: 4, padding: 0 },
    },
    yAxis: {
      visible: false,
      title: { text: undefined },
      labels: { enabled: false }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><br>',
      pointFormat: '<span style="padding:0">{series.name}</span><br>',
      footerFormat: '',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: { borderWidth: 1, borderColor: 'var(--bg-color)' }
    },
    series: [{
      pointWidth: 20,
      name: '#date0#',
      data: [ #dataHour0HCcolumn# ]
    }]
});

Highcharts.chart('highchartBarHourD#id#', {
    chart: {
          width: 480, height: 50,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0,
        type: 'bar'
    },
      credits: { enabled: false },
      exporting : { enabled: false },
      legend: { enabled: false },
      title: { text: null, },
    xAxis: {
      visible: false,
      lineColor: 'var(--bg-color)',
      categories: [
          '#date0#' ],
    },
    yAxis: {
      visible: false,
      min:0, max: 24,
      title: { text: undefined },
      lineColor: 'var(--bg-color)',
      labels: { enabled: true, y: 12, step: 1, padding: 0 },
    },
    tooltip: {
      tooltip: { pointFormat: '{series.name}' },
    },
    plotOptions: {
      bar: { borderWidth: 1, borderColor: 'var(--bg-color)' },
      series: { stacking: 'normal', pointWidth: 10 }
    },
    series: [ #dataHour0HCbar# ].reverse()
});

	</script>
</div>
