<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
	<center>
    <span class="widget-name">
      <span class="warning" title="#alert_name#">
        <i class='#alert_icon#'></i>
      </span>
      <span>#name_display#
        <span class="object_name">#object_name#</span>
      </span>
      <br/>
    </span>
  </center>
  <div style="padding: 5px;">
    <center>
      <span>Aujourd'hui
        <i class="fa fa-circle fa-lg" style="color : #colorToday#"></i>
      </span>
		<br/>
      <span>Demain
        <i class="fa fa-circle fa-lg" style="color : #colorTomorrow#"></i>
      </span>
		<br/>
	  </center>
		<div style="margin-left:10px;">
      <span>Jours restants:</span>
      <div style="margin-left:20px;">
        <i class="fa fa-circle fa-lg" style="color : #color-EJP#"></i> #ejpRemainingDays# / 22
      </div>
		</div>
    <div style="margin-left:10px;"><br>Légende:</div>
    <div style="font-size:12px;margin-left:5px">
      #legendEjp#
		</div>
  </div>
	<script>
    if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'}) })
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
		}
	</script>
</div>
