<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
	<center>
    <span class="widget-name">
      <span class="warning" title="#alert_name#">
        <i class='#alert_icon#'></i>
      </span>
      <span>#name_display#
        <span class="object_name">#object_name#</span>
      </span>
      <br/>
    </span>
	</center>
  <div style="padding: 5px;">
    <center>
      <div class="valueNow" style="background-color: #curAlertColor#; width : 70%;border: 0px;text-shadow: none !important;border-radius: 4px;padding: .7em 1em;margin-bottom: 9px">
        <span style="color: black">Maintenant<br/></span>
      </div>
      <div class="dayValueD0" style="width : 70%;border: 0px;text-shadow: none !important;border-radius: 4px;padding: .7em 1em;margin-bottom: 3px">
        <span style="color: black">Aujourd'hui<br/></span>
      </div>
      <div class="dayValueD1" style="width : 70%;border: 0px;text-shadow: none !important;border-radius: 4px;padding: .7em 1em">
        <span style="color: black">Demain<br/></span>
      </div>
    </center>
  </div>
	<script>
    jeedom.cmd.update['#id#'] =function(_options) {
      switch (#dayValueD0#) {
        case 1: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('background-color','#color1#'); break;
        case 2: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('background-color','#color2#'); break;
        case 3: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('background-color','#color3#'); break;
        default: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD0').css('background-color','#color0#'); break;
      }
      switch (#dayValueD1#) {
        case 1: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('background-color','#color1#'); break;
        case 2: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('background-color','#color2#'); break;
        case 3: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('background-color','#color3#'); break;
        default: $('.eqLogic[data-eqLogic_id=#id#] .dayValueD1').css('background-color','#color0#'); break;
      }
    }
    jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#'})

    if ('#refresh_id#' != '') {
		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: '#refresh_id#'}) })
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }
	</script>
</div>
